.header-color {
  background: #e52d27; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #b31217, #e52d27); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #b31217,
    #e52d27
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.mainpage-grid {
  background: #e52d27; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #b31217, #e52d27); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #b31217,
    #e52d27
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.portfolio-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.portfolio-grid .mdl-card {
  width: auto;
  margin: 15px;
}
.portfolio-grid .mdl-card__actions .mdl-card .mdl-button {
  width: 33.3333%;
}
@media screen and (max-width: 992px) {
  .portfolio-grid {
    flex-direction: column;
  }
}

.contact-body {
  margin: auto;
  background: grey;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}

.contact-avatar{
  max-width: 60%;
  height: auto;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  background: white;
  color: black;
  border: 2px solid red;
  margin-bottom: 20px;
}

.contact-grid h2 {
  font-family: "Anton", sans-serif;
}

.contact-grid p {
  font-family: "Oxygen", sans-serif;
  font-weight: bold;
}

.contact-grid hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}

.contact-grid i {
  font-size: 55px;
  padding-right: 5rem;
}

.avatar-img {
  height: 40vh;
  width: auto;
  padding-top: 5em;
}

.banner-text {
  background-color: black;
  opacity: 0.8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1 {
  font-size: 66px;
  font-weight: bold;
  text-align: center;
  color: white;
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.banner-text p {
  color: white;
  font-size: 20px;
  padding: 1em;
  text-align: center;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links i {
  color: white;
  font-size: 5em;
  padding: 8px;
}
.map-marker {
    width: 50px;
    height: auto;
    margin-left: -25px;
    margin-top: -25px;
    border: 5px solid red;
    border-radius: 100%;
}